body,header,ul {
	margin: 0;
	padding: 0;
}
header {
	height: 80px;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  font-size: 1.2em;
  font-weight: bolder;
  background-color: #9C31B9;
}
header h1 {
  width: 30%;
  margin-left: 10%;
  margin-top: 15px;
  display: inline-block;
}
header ul {
  float: right;
  width: 30%;
  height: 80px;
}
header ul li {
  list-style-type: none;
  display: inline-block;
  width: 25%;
  height: 80px;
  text-align: center;
}
header ul li a {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 13%;
}
header ul li a:link, header ul li a:visited {
  color: white;
}
header ul li a:hover, header ul li a:active {
  background-color: #74487F;
}
#main {
  margin: 120px 0;
  padding: 5px 20px;
}
#button {
  width: 5%;
  height: 35px;
}
table {
  text-align: center;
}
#add {  
  position: absolute;
  background-color: #888;
  z-index: 999;
  top: 150px;
  left: 10%;
  padding: 100px 120px;
  opacity: 0.9;
  display: none;
}
.text td {
  width: 20%;
}
.text td input {
  width: 100%;
  height: 35px;
}
input[type='button'] {
  width: 15%;
  height: 45px;
  margin-left: 20%;
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  border-top: 1px solid #999;
  margin-top: 150px;
  position: relative;
}
footer::after {
  content: "";
  width: 80%;
  height: 40px;
  left: 10%;
  position: absolute;
  border-bottom: 1px solid #999;
}